.holidays-container {
    justify-content: space-evenly;
    display: flex;
}

.grow {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.grow:hover {
    transform: scale(1.2);
}

.holiday-card {
    cursor: pointer;
    width: 15%;
    margin-bottom: auto;
    margin-top: auto;
}

@media (max-width: 767px) {
    .holidays-container {
        flex-direction: column;
    }
    .holiday-card {
        margin-bottom: 8%;
        margin-left: auto;
        margin-right: auto;
        height: 350px;
        width: 90%;
    }
    .holidays-container {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .holiday-card {
        font-size: 1.4rem
    }
}