.holidays-container {
    max-width: 80% !important;
    justify-content: space-between;
    height: 100%;
    display: flex;
}

.grow { 
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.grow:hover { transform: scale(1.2); }