.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: Rubik;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .lander div {
  padding-top: 20px;
}
.Home .lander div a:first-child {
  margin-right: 20px;
}

.Home .notes h4 {
  font-family: Rubik;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .notes p {
  color: #666;
}

.body-calendar {
  /* padding-top: 15px;
  margin-top: 45px;
  padding-bottom: 15px;
  margin-bottom: 45px; */
  padding: 0px;
  border-radius: 7px;
  /* height: 95%;
  margin-top: auto; */
  max-width: 80% !important;
}

.body-calendar Row {
  height: 100%;
}
h2 {
  color: black
}
h5 {
  color: black
}

.btn-primary {
  border-radius: 3px !important;
  background-color: #f87825 !important;
  border-color: white !important;
  font-size: 1.5rem !important;
  color: white !important;
}
button.auth-button {
  float: right
}
button.signup {
  float: right
}
@media(max-width: 767px) {
  .spacing-row {
    height: 0 !important;
  }
  .sx-margin-top {
    margin-top: 7%
  }

  h2 {
    font-size: 1.4rem !important;
  }
  .navigation-bar {
    min-height: 35vh !important;
  }
  .body-container {
    margin-right: -1% !important;
    margin-left: -1% !important;
  }

  #bridgesList {
    padding-right: 0 !important;
  }
  #fligthsList {
    padding-left: 0 !important;
  }
}

.navbar-collapse {
  border-top: none;
}
.btn-primary {
  border-radius: 5px !important;
  background-color: #f87825 !important;
  border-color: white !important;
  font-size: 1.5rem !important;
  color: white !important;
}