.modal-content {
    background-color: #FFF7F0 !important;
}

.modal-content h1 {
    color: #FB552C;
}

.modal-body button {
    background-color: #FB552C !important;
    width: 30%;
    margin-left: 35%;
}

.info-header {
    position: fixed;
    width: 100%;
    z-index: 1060;
    height: 6vh;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .06);
}

.info-page {
    height: 95vh;
    background-color: #ffffff;
}

.info-page#info-page-2 {
    height: 65vh;
    background-color: #FFF7F0;
    padding-top: 3%;
}

.info-page#info-page-3 {
    height: 65vh;
    background-color: #FFF7F0;
}

.info-page#info-page-5 {
    height: 88vh;
    background-color: #FFF7F0;
}

.banner {
    height: 12vh;
    background: rgb(242, 188, 21);
    background: linear-gradient(90deg, rgba(242, 188, 21, 1) 0%, rgba(252, 58, 50, 1) 100%);
}

.info-footer {
    width: 955px;
    height: 80px;
    font-style: normal;
    font-weight: normal !important;
    font-size: 32px !important;
    line-height: 33px !important;
    text-align: center;
    letter-spacing: -1px;
    color: #3D3D3D;
    margin: auto;
    margin-top: 2%;
}

.anchor-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: Rubik;
    /*input has OS specific font-family*/
    color: #3D3D3D;
    cursor: pointer;
}
.anchor-link:hover {
    text-decoration: underline;
}

.info-container button.login {
    background-color: transparent !important;
    border: none;
    font-weight: 200 !important
}

.info-container button.signup {
    background-color: transparent !important;
    border: none;
    margin-right: 0 !important;
    font-weight: 200 !important
}

.info-bean {
    width: 855px;
    height: auto;
    margin: auto auto auto 0;
}

.info-mac {
    width: 1035px;
    margin: auto;
    margin-top: 2%;
}

.info-phone {
    height: 515px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.info-phone#flights {
    margin-right: 55%;
    margin-left: auto;
}

.info-phone#profile {
    margin-right: auto;
    margin-left: 55%;
}

.info-container h1 {
    width: 414px;
    height: 116px;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 124px !important;
    line-height: 74px !important;
    letter-spacing: -0.01em;
    color: #FB552C;
    margin-left: auto;
    margin-right: auto;
}

.info-container h2 {
    width: 414px;
    height: 111px;
    font-style: normal;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 36px !important;
    letter-spacing: -1px;
    color: #3D3D3D;
    margin-left: auto;
    margin-right: auto;
}

.info-container h3.info-1 {
    width: 545px;
    height: 116px;
    font-style: normal;
    font-size: 48px !important;
    line-height: 57px !important;
    font-weight: bold !important;
    text-align: right;
    letter-spacing: -0.01em;
    color: #FB552C;
    margin-left: auto;
    margin-right: 1%;
    margin-top: auto;
}

.info-container h4.info-1 {
    width: 545px;
    height: 116px;
    font-style: normal;
    font-weight: normal !important;
    font-size: 22px !important;
    line-height: 26px !important;
    text-align: left;
    letter-spacing: -1px;
    color: #3D3D3D;
    margin-left: 1%;
    margin-right: auto;
    margin-top: auto
}

.info-container h3.info-2 {
    width: 545px;
    height: 115px;
    font-style: normal;
    font-size: 48px !important;
    line-height: 57px !important;
    font-weight: bold !important;
    text-align: right;
    letter-spacing: -0.01em;
    color: #FB552C;
    margin-left: 55%;
    margin-right: auto;
    margin-top: auto;
}

.info-container h4.info-2 {
    width: 545px;
    height: 115px;
    font-style: normal;
    font-weight: normal !important;
    font-size: 22px !important;
    line-height: 26px !important;
    text-align: right;
    letter-spacing: -1px;
    color: #3D3D3D;
    margin-left: 55%;
    margin-right: auto;
    margin-bottom: auto;
}

.info-container h3.info-3 {
    width: 545px;
    height: 115px;
    margin-right: 55%;
    margin-left: auto;
    margin-top: auto;
    font-style: normal;
    font-size: 48px !important;
    line-height: 57px !important;
    font-weight: bold !important;
    text-align: left;
    letter-spacing: -0.01em;
    color: #FB552C;
}

.info-container h4.info-3 {
    width: 545px;
    height: 115px;
    margin-right: 55%;
    margin-left: auto;
    margin-bottom: auto;
    font-style: normal;
    font-weight: normal !important;
    font-size: 22px !important;
    line-height: 26px !important;
    text-align: left;
    letter-spacing: -1px;
    color: #3D3D3D;
}

.info-container h3.info-5 {
    height: 65px;
    text-align: center !important;
    margin-right: auto;
    margin-left: auto;
    font-style: normal;
    font-size: 48px !important;
    line-height: 57px !important;
    font-weight: bold !important;
    text-align: right;
    letter-spacing: -0.01em;
    color: #FB552C;
}

.info-container h4.info-5 {
    width: 545px;
    height: 65px;
    margin-right: 55%;
    margin-left: auto;
    font-style: normal;
    font-weight: normal !important;
    font-size: 25px !important;
    line-height: 26px !important;
    text-align: left;
    letter-spacing: -1px;
    color: #3D3D3D;
}

.info-container .beta-btn {
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: 55px;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 28px !important;
    align-items: center !important;
    text-align: center !important;
    background-color: #FB552C !important;
    border-radius: 8px !important;
}

.beta-btn-container {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
}

.banner h1 {
    width: 555px;
    height: 45px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px !important;
    line-height: 44px !important;
    letter-spacing: -0.01em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.banner col {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.banner .beta-btn {
    background-color: white !important;
    color: #f35525 !important;
}

button.login {
    color: #3D3D3D !important;
    font-size: 20px !important;
    line-height: 24px !important;
}

button.signup {
    color: #3D3D3D !important;
    font-size: 20px !important;
    line-height: 24px !important;
}

.SnackbarItem-message-25 {
    font-size: 1.6rem;
}

.SnackbarItem-variantSuccess-21 {
    background-color: #fb782c !important;
}

@media(max-width: 1300px) {
    .info-bean {
        width: 645px;
    }
    .info-container h1 {
        width: 330px;
        height: 90px;
        font-size: 100px !important;
        line-height: 74px !important;
        letter-spacing: -0.01em;
    }
    .info-container h2 {
        width: 330px;
        height: 90px;
        font-size: 25px !important;
        line-height: 26px !important;
        letter-spacing: -0.01em;
    }
    .beta-btn-container {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
    .info-container .beta-btn {
        width: 203px;
        height: 45px;
        font-size: 18px !important;
    }
}

@media(max-height: 375px) and (orientation: landscape) {
    .info-bean {
        width: 300px;
        margin: auto;
        margin-bottom: 0;
    }
    .info-mac {
        width: 335px;
    }
    .info-phone {
        height: 300px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .info-container h1 {
        width: 240px;
        height: 75px;
        font-size: 70px !important;
        line-height: 74px !important;
        letter-spacing: -0.01em;
        text-align: center;
    }
    .info-container h2 {
        width: 240px;
        height: 90px;
        font-size: 20px !important;
        line-height: 26px !important;
        letter-spacing: -0.01em;
        text-align: center;
    }
    .info-header {
        height: 13vh;
    }
    .offset-md-5 {
        margin-left: auto;
        margin-right: auto;
    }
    .info-page#title .row {
        margin-top: 0 !important;
    }
    .info-page {
        height: 100vh;
    }
}

@media(max-width: 767px) and (orientation: portrait) {
    .modal-content {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-body button {
        background-color: #FB552C !important;
        width: 40%;
        margin-left: 30%;
    }
    .info-bean {
        width: 345px;
        margin: auto;
        margin-top: 0;
    }
    .info-page#title .col-1 {
        margin-top: 17%;
    }
    .info-page#title .col-2 {
        margin-top: 5% !important;
    }
    .info-container h1 {
        width: 240px;
        height: 75px;
        font-size: 70px !important;
        line-height: 74px !important;
        letter-spacing: -0.01em;
        text-align: center;
    }
    .info-container h2 {
        width: 240px;
        height: 90px;
        font-size: 20px !important;
        line-height: 26px !important;
        letter-spacing: -0.01em;
        text-align: center;
    }
    .beta-btn-container {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .info-container .beta-btn {
        width: 200px;
        height: 45px;
        font-size: 18px !important;
    }
    .info-mac {
        width: 335px;
    }
    .info-phone {
        height: 300px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .info-container h3.info-1 {
        width: 49%;
        height: 85px;
        text-align: right;
        margin-left: auto;
        margin-right: 0;
        padding-right: 1%;
        font-size: 27px !important;
        line-height: 25px !important;
    }
    .info-container h4.info-1 {
        width: 49%;
        height: 85px;
        margin-left: 0;
        margin-right: auto;
        padding-left: 1%;
        font-size: 15px !important;
        line-height: 15px !important;
        text-align: left;
    }
    .info-container h3.info-2 {
        width: 49%;
        height: 85px;
        text-align: right;
        margin-left: auto;
        margin-right: 1%;
        padding-right: 1%;
        font-size: 27px !important;
        line-height: 25px !important;
    }
    .info-container h4.info-2 {
        width: 49%;
        height: 85px;
        margin-left: 0;
        margin-right: auto;
        margin-top: 0;
        padding-left: 1%;
        font-size: 15px !important;
        line-height: 15px !important;
        text-align: left;
    }
    .info-container h3.info-3 {
        width: 49%;
        height: 70px;
        text-align: right;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-right: 1%;
        font-size: 27px !important;
        line-height: 25px !important;
    }
    .info-container h4.info-3 {
        width: 49%;
        height: 70px;
        text-align: left;
        margin-left: 0;
        margin-right: auto;
        margin-top: 0;
        padding-left: 1%;
        font-size: 15px !important;
        line-height: 15px !important;
    }
    .info-container h3.info-5 {
        width: 59%;
        height: 70px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-right: 1%;
        font-size: 27px !important;
        line-height: 25px !important;
    }
    .info-container h4.info-5 {
        width: 65%;
        height: 70px;
        text-align: left;
        margin-left: 0;
        margin-right: auto;
        padding-left: 1%;
        font-size: 15px !important;
        line-height: 15px !important;
    }
    .info-footer {
        width: 90%;
        font-size: 20px !important;
        line-height: 30px !important;
        margin-top: 6%;
    }
    #info-page-1 {
        height: 50vh;
    }
    .info-page#info-page-2 {
        height: 50vh;
    }
    .info-page#info-page-3 {
        height: 50vh;
    }
    .info-page#info-page-5 {
        height: 80vh;
    }
    #info-page-1 #col-1 {
        height: 25%;
    }
    #info-page-1 #col-2 {
        height: 75%;
    }
    #info-page-2 #col-1 {
        height: 20%;
    }
    #info-page-2 #col-2 {
        height: 75%;
    }
    #info-page-3 #col-1 {
        height: 25%;
    }
    #info-page-3 #col-2 {
        height: 75%;
    }
    .col-12 {
        margin-top: 0;
    }
    .banner h1 {
        width: 555px;
        height: 45px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px !important;
        line-height: 30px !important;
        letter-spacing: -0.01em;
        color: white;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .logo-col {
        padding-left: 2% !important;
    }
    .link-col {
        padding-right: 2% !important;
    }
    button.login {
        color: #3D3D3D !important;
        font-size: 17px !important;
        line-height: 24px !important;
    }
    button.signup {
        color: #3D3D3D !important;
        font-size: 17px !important;
        line-height: 24px !important;
    }
    .anchor-link {
        background: none!important;
        border: none;
        padding: 0!important;
        /*optional*/
        font-size: 12px;
        font-family: Rubik;
        /*input has OS specific font-family*/
        color: #3D3D3D;
        cursor: pointer;
    }
}