.modal-content {
    background-color: #FFF7F0 !important;
}

.modal-content h1 {
    color: #FB552C;
}

.modal-body button {
    background-color: #FB552C !important;
    width: 30% !important;
    margin-left: 35%;
}

.info-header {
    position: fixed;
    width: calc(100% + 7px) !important;
    z-index: 1060;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .06);
}

.info-page {
    padding: 3%;
    background-color: #ffffff;
}

.info-page#info-page-bridges {
    padding: 3%;
    background-color: #FFF7F0;
}

.info-page#info-page-profile {
    padding: 3%;
    background-color: #FFF7F0;
}

.info-page#info-page-5 {
    padding: 3%;
    background-color: #FFF7F0;
}
#request-beta-access-row {
    margin-top: 2%;
}
#title-row {
    margin-top: -10%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.banner {
    background: rgb(242, 188, 21);
    background: linear-gradient(90deg, rgba(242, 188, 21, 1) 0%, rgba(252, 58, 50, 1) 100%);
}

.info-footer {
    width: 90% !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 32px !important;
    line-height: 33px !important;
    text-align: center;
    letter-spacing: -1px;
    color: #3D3D3D;
    margin: auto;
    margin-top: 2%;
}

.anchor-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: Rubik;
    /*input has OS specific font-family*/
    color: #3D3D3D;
    cursor: pointer;
}
.anchor-link:hover {
    text-decoration: underline;
}

.info-container button.auth-button {
    background-color: transparent !important;
    border: none;
    font-weight: 200 !important
}

.info-container button.signup {
    background-color: transparent !important;
    border: none;
    margin-right: 0 !important;
    font-weight: 200 !important
}
.link-col .row {
    justify-content: flex-end;
}
.info-bean {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5%;
    background-image: url('../images/illustration.png');
}

.info-balance {
    width: 338px !important;
    height: 321px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/balance.png');
}
.info-phone {
    background-size: contain;
    background-repeat: no-repeat;
    height: 515px;
    width: 326px !important;
}
.info-phone#flights {
    background-image: url('../images/phone_with_travels.png');
    margin-right: 10%;
    margin-left: auto;
}
.info-phone#profile {
    background-image: url('../images/profile.png');
    margin-right: 10%;
    margin-left: auto;
}
.info-phone#bridges {
    background-image: url('../images/bridges.png');
    margin-right: auto;
    margin-left: 10%;
}


.info-container h1 {
    width: 82% !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 124px !important;
    line-height: 104px !important;
    letter-spacing: -0.01em;
    color: #FB552C;
    margin-left: auto;
    margin-right: auto;
}

.info-container h2 {
    width: 80% !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 36px !important;
    letter-spacing: -1px;
    color: #3D3D3D;
    margin-left: auto;
    margin-right: auto;
}

.info-container h3.info-1 {
    font-style: normal;
    font-size: 48px !important;
    line-height: 57px !important;
    font-weight: bold !important;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FB552C;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.info-container h4.info-1 {
    width: 70% !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 22px !important;
    line-height: 26px !important;
    text-align: center;
    letter-spacing: -1px;
    color: #3D3D3D;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto
}

.info-container h3 {
    width: 75% !important;
    font-style: normal;
    font-size: 48px !important;
    line-height: 57px !important;
    font-weight: bold !important;
    text-align: right;
    letter-spacing: -0.01em;
    color: #FB552C;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.info-container h4 {
    width: 75% !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 22px !important;
    line-height: 26px !important;
    text-align: right;
    letter-spacing: -1px;
    color: #3D3D3D;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

h3.info-profile {
    text-align: left;
}
h4.info-profile {
    text-align: left;
}

h3.info-flights {
    text-align: left;
}
h4.info-flights {
    text-align: left;
}

.info-container h3.info-5 {
    text-align: center !important;
    margin-right: auto;
    margin-left: auto;
    font-style: normal;
    font-size: 48px !important;
    line-height: 57px !important;
    font-weight: bold !important;
    text-align: right;
    letter-spacing: -0.01em;
    color: #FB552C;
}

.info-container h4.info-5 {
    width: 545px !important;
    height: 65px;
    margin-right: 55%;
    margin-left: auto;
    font-style: normal;
    font-weight: normal !important;
    font-size: 25px !important;
    line-height: 26px !important;
    text-align: left;
    letter-spacing: -1px;
    color: #3D3D3D;
}

.info-container .beta-btn {
    margin-left: auto;
    margin-right: auto;
    width: 275px !important;
    height: 55px;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 28px !important;
    align-items: center !important;
    text-align: center !important;
    background-color: #FB552C !important;
    border-radius: 8px !important;
}

.beta-btn-container {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}

.banner h1 {
    width: auto !important;
    height: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px !important;
    line-height: 44px !important;
    letter-spacing: -0.01em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.banner col {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.banner .beta-btn {
    background-color: white !important;
    color: #f35525 !important;
}

button.auth-button {
    color: white !important;
    font-size: 13px !important;
    line-height: 15px !important;
}

button.signup {
    color: white !important;
    font-size: 13px !important;
    line-height: 15px !important;
}

.SnackbarItem-message-25 {
    font-size: 1.6rem;
}

.SnackbarItem-variantSuccess-21 {
    background-color: #fb782c !important;
}

@media(max-width: 1300px) {
    .info-container h1 {
        font-size: 100px !important;
        line-height: 104px !important;
    }
    .info-container h2 {
        font-size: 25px !important;
        line-height: 26px !important;
        letter-spacing: -0.01em;
    }
    .beta-btn-container {
        margin-left: auto;
        margin-right: auto;
    }
    .info-container .beta-btn {
        font-size: 18px !important;
    }
    .info-bean {
        height: 400px;
        margin-top: 10%;
    }
}

@media(max-height: 380px) and (orientation: landscape) {
    .info-mac {
        width: 335px !important;
    }
    .info-phone {
        height: 300px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .info-container h1 {
        width: 240px !important;
        font-size: 70px !important;
        line-height: 104px !important;
        letter-spacing: -0.01em;
        text-align: center;
    }
    .info-container h2 {
        width: 240px !important;
        font-size: 20px !important;
        line-height: 26px !important;
        letter-spacing: -0.01em;
        text-align: center;
    }
    .offset-md-5 {
        margin-left: auto;
        margin-right: auto;
    }
    .info-page#title .row {
        margin-top: 0 !important;
    }
    .info-container h3.info-1 {
        width: 100% !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-right: 1%;
        font-size: 27px !important;
        line-height: 25px !important;
    }
    .info-container h4.info-1 {
        width: 75% !important;
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
        font-size: 15px !important;
        line-height: 15px !important;
        text-align: center;
    }
    .info-mac {
        width: 80% !important;
        margin-left: 10%;
    }
    .info-page {
        height: 110vh;
    }
    .info-page#info-page-bridges {
        height: 115vh;
        padding-top: 0;
    }

    .info-container h3 {
        width: 545px !important;
        height: 115px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
    .info-container h4 {
        width: 545px !important;
        height: 115px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
    .info-page#info-page-profile {
        height: 115vh;
        padding-top: 0;
    }

    .info-container h1 {
        width: auto !important;
        margin: auto;
        font-size: 60px !important;
        text-align: center;
    }
}


@media(max-height: 815px) and (orientation: portrait) {
    .modal-content {
        width: 85% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-body button {
        background-color: #FB552C !important;
        width: 40% !important;
        margin-left: 30%;
    }
    .info-page#title .col-1 {
        margin-top: 10%;
    }
    .info-page#title .col-2 {
        margin-top: 5% !important;
    }
    .info-container h1 {
        width: 240px !important;
        font-size: 70px !important;
        line-height: 104px !important;
        letter-spacing: -0.01em;
        text-align: center;
    }
    .info-container h2 {
        width: 240px !important;
        margin-top: 0;
        font-size: 20px !important;
        line-height: 26px !important;
        letter-spacing: -0.01em;
        text-align: center;
    }
    .beta-btn-container {
        width: 200px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .info-container .beta-btn {
        width: 200px !important;
        height: 45px;
        font-size: 18px !important;
    }
    .info-balance {
        height: 199px;
        width: 210px !important;
    }
    .info-phone {
        height: 300px;
        width: 190px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .info-phone#flights {
        background-image: url('../images/phone_with_travels-xs.png');
    }
    .info-phone#profile {
        background-image: url('../images/profile-xs.png');
    }
    .link-col .row {
        justify-content: space-evenly;
    }
    .info-bean {
        height: 300px;
        margin-top: 0;
        background-image: url('../images/illustration-xs.png');
    }
    .info-container h3.info-1 {
        width: 100% !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-right: 1%;
        font-size: 27px !important;
        line-height: 25px !important;
    }
    .info-container h4.info-1 {
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
        font-size: 15px !important;
        line-height: 15px !important;
        text-align: center;
    }
    .info-container h3.info-2 {
        width: 49% !important;
        text-align: right;
        margin-left: auto;
        margin-right: 1%;
        font-size: 27px !important;
        line-height: 25px !important;
    }
    .info-container h4.info-2 {
        width: 49% !important;
        margin-left: 0;
        margin-right: auto;
        margin-top: 0;
        padding-left: 1%;
        font-size: 15px !important;
        line-height: 15px !important;
        text-align: left;
    }
    .info-container h3 {
        width: 49% !important;
        text-align: right;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-right: 1%;
        font-size: 27px !important;
        line-height: 25px !important;
    }
    .info-container h4 {
        width: 49% !important;
        text-align: left;
        margin-left: 0;
        margin-right: auto;
        margin-top: 0;
        padding-left: 1%;
        font-size: 15px !important;
        line-height: 15px !important;
    }
    .info-container h3.info-5 {
        width: 80% !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-right: 1%;
        font-size: 27px !important;
        line-height: 25px !important;
    }
    .info-container h4.info-5 {
        width: 65% !important;
        text-align: left;
        margin-left: 0;
        margin-right: auto;
        padding-left: 1%;
        font-size: 15px !important;
        line-height: 15px !important;
    }
    .info-footer {
        width: 90% !important;
        font-size: 20px !important;
        line-height: 30px !important;
        margin-top: 6%;
    }
    /* #info-page-1 #col-1 {
        margin-top: 8%;
        height: 25%;
    } */
    #info-page-bridges #col-1 {
        height: 10%;
    }
    #info-page-bridges #col-2 {
        height: 75%;
    }
    #info-page-profile #col-1 {
        height: 15%;
    }
    #info-page-profile #col-2 {
        height: 75%;
    }
    .col-12 {
        margin-top: 0;
    }
    .banner h1 {
        width: auto !important;
        height: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px !important;
        line-height: 30px !important;
        letter-spacing: -0.01em;
        color: white;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .logo-col {
        padding-left: 2% !important;
    }
    .link-col {
        padding-right: 2% !important;
    }
    button.auth-button {
        color: #3D3D3D !important;
        font-size: 17px !important;
        line-height: 24px !important;
    }
    button.signup {
        color: #3D3D3D !important;
        font-size: 17px !important;
        line-height: 24px !important;
    }
    .anchor-link {
        background: none!important;
        border: none;
        padding: 0!important;
        /*optional*/
        font-size: 12px;
        font-family: Rubik;
        /*input has OS specific font-family*/
        color: #3D3D3D;
        cursor: pointer;
    }
    #title-row {
        margin-top: 0;
    }
    #skyscanner-logo-mini {
        height: 30px;
    }
    #request-beta-access-row {
        margin-top: 12%;
    }
}

@media(max-height: 670px) and (orientation: portrait) {
    /* #info-page-1 {
        height: 55vh;
    } */
    .info-phone {
        height: 260px;
    }
    .info-container h2 {
        height: 60px;
    }
}