.top-badge {
    display: flex; 
    border: 3px solid;
    border-color: #ffa000 !important;
    background-color: #fbf8ed;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between
}