.holiday {
  color: #f87825;
}

.weekend {
  color: #f87825
}

.bridge {
  background-color: #e2e2e2;
}

.defaultDay {
  background-color: #ffffffad;
}

.lock-btn.btn.btn-primary {
  border: none;
  color: #f87825 !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.unlock-btn.btn.btn-primary {
  border: none;
  color: white !important;
  background-color: #f87825 !important;
  outline: none !important;
  box-shadow: none !important;
}

.past-day {
  color: #bfbfbf
}