.btnCircle.btnXl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btnCircle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.react-autosuggest__input {
    width: 100%;
    height: 100%;
}

.react-autosuggest__container {
    width: 85%;
    height: 65%
}

.css-2b097c-container {
    width: 90%;
    height: 65%;
}

.css-yk16xz-control {
    height: 100%;
}
.css-1hwfws3 {
    height: 100%
}
.css-1hb7zxy-IndicatorsContainer {
    height: 100%
}