.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.orange-button {
  background-color: orange !important;
  color: black !important;
  border-color: #6c757d !important;
  font-size: 1.5rem !important;
}

.btn-primary {
  background-color: #ffa000 !important;
  border-color: white !important;
  color: white !important;
}

* {
  border-color: hsl(0,0%,80%) !important;
}