.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.btn-primary {
  background-color: #ffa000 !important;
  border-color: white !important;
  font-size: 1.5rem !important;
  color: white !important;
}

* {
  border-color: hsl(0,0%,80%) !important;
  outline: none
}

.clickable-div {
  cursor: pointer;
}